.ContenedorInfor{
    padding-top: 6%;
    text-align: center;
    padding-bottom: 5%;
}

.ContenedorInfor .Presentacion{
    margin: 0 auto;
    padding-top: 16%;
    padding-bottom: 16%;
    width: 80%;
    border-radius: 10%;
}

.ContenedorInfor .info{
    padding-top: 1%;
}

.ContenedorSobreMi{
    padding-top: 10%;
    padding-bottom: 10%;
}

.ContenedorSobreMi h4{
    text-align: center;
}

.ContenedorSobreMi .col{
    padding: 4%;
    margin: 2%;
    text-align: center;
    border-radius: 7%;
    background-color: bisque;
}

.Proyectos {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 15%;
}

.Formulario h3{
    font-size: 45px;
    text-align: center;
    color: red;
}
.Formulario{
    width: 60%;
    margin: 0 auto;
    padding-top: 8%;
    padding-bottom: 15%;
}