@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap');

.container{
    margin-top: 80px;
    font-family: 'Cormorant', serif;
}

.InfoI {
    background-color: blanchedalmond;
}

.InfoI .Usuario{
    font-size: large;
    text-transform: uppercase;
}
.InfoI h1{
    font-size: 45px;
    text-transform: uppercase;
}

.InfoI .P1{
    font-size: 30px;
}
.InfoI .P2{
    font-size: 25px;
}

.InfoI li{
    font-size: 20px;
}

.ImgI {
    background-color: aqua;
    text-align: center;
}

.ImgI img{
    border-radius: 15px;
    width: 80%;
}

